body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* highlights of hit text */
.highlight {
  background-color: #e0e0ff;
}
.highlight em {
  color: red;
}
