body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* searches */
.searchlink h3 {
  color: black;
}
.highlight {
  background-color: #f0f0ff;
}
.highlight em {
  color: red;
}

/* stack exchange questions */
.postbody {
  padding-left: 10pt;
}
.hsmaller h1 {
  font-size: 20pt;
}
.hsmaller h2 {
  font-size: 16pt;
}
.hsmaller h3 {
  font-size: 16pt;
}
.questiontitle {
  background-color: #F0F0FF;
}
.comment {
  padding-left: 20pt;
}
.comment p {
  font-size: smaller;
  margin: 0;
  padding: 0;
}
.comment hr {
  margin-top: 5pt;
  margin-bottom: 5pt;
}
.questiontag {
  background-color: #e0e0d0;
}
