form(method='POST' action='#')
  div.form-group
    label(for='name') #{label}
    input#name.form-control(type='text', name='name', value='')
  button#promptbutton.btn.btn-primary(type='submit') Submit
  