extends layout

block content
  h1= title

  if errors
    ul
      for error in errors
        p Errors:
        li!= error.msg || error
  if explainResults
    h3 Explanation of search score
    <div>!{explainResults}</div>
  if explainDocument
    <hr>
    h3 Document contents
    <div>!{explainDocument}</div>
