doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/external/bootstrap.min.css')
    //- script(src='/external/jquery.min.js')
    //- script(src='/external/bootstrap.min.js')
    script(src='/external/prettyhtml.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
