extends layout

block content
  h1= title

  form(method='POST' action='')
    .form-group
      label(for='search_term') Search:
      input#search_term.form-control(type='text', name='search_term')
    button.btn.btn-primary(type='submit') Search
  if errors
    ul
      for err in errors
        li!= error.msg
